body{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    width: 100%;
    background-color: rgb(203, 214, 224);
    padding-right: 10px;
}
h1{
    padding-left: 20px;
}

.perfil{
    padding-left: 10px;
}
.news_container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas siempre */
    gap: 20px; /* Espacio entre los artículos */
    box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
}

article{
    margin-bottom: 24px;
    width: 500px;
    padding: 20px 50px;
    background-color: rgb(186, 188, 161);
    border-radius: 15px;
}
.cabecera{
    margin-left: auto;
    margin-right: auto;
    width: 1210px;
}

.responsive-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.responsive-image2 {
    max-width: 100%;
    width: 1210px;
    max-height: 100%;
    height: 300px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
